html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.star-icon {
  height: '30px';
  width: '30px';
  cursor: 'pointer';
  fill: '#f59e0c' !important;
  color: 'f59e0c' !important;
}

.star-icon:hover {
  fill: '#f59e0c'
}
